@import '~styles/layout';
@import '~styles/settings';

.articles{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px; 
    box-sizing: border-box;
}

#article-form {
    width: 100%;
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;

    @include for-tablet-portrait {
        width: 70%;
    }

    @include for-tablet-landscape {
        width: 33.333333%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .article-form-field {
        padding: 20px 0;
        width: 100%;

        label {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            text-transform: uppercase;
            color: $form-letter;
        }

        input {
            display: block;
            width: 100%;
            border: 0;
            border-bottom: solid 1px $border-color;

            &.error {
                border-color: $error;
            }

            &.focus {
                border-color: $primary-color;
            }
        }

        textarea {
            @extend input;
            min-height: 4em;
            border: solid 1px $border-color;

            @include for-tablet-landscape {
                width: 100%;
            }
        }
    }

    #article-form-submit,
    #reset {
        width: 50%;
        background-color: $primary-color;
        color: $secundary-color;
        padding: 10px;
    }

    #notice {
        justify-content: center;
        align-content: center;
        flex-direction: column;
        color: red;
        padding: 10px;
    }

}



/*PURE CSS LOADER SPIN
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid $fourty-color;
    border-color: #fff transparent $fourty-color transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}
*/
