//DEFINIMOS VARIABLES Y SETTINGS

@import 'utils.scss';

//COLORES
$primary-color: #3498db;
$secundary-color: #fefefe;
$terciary-color:grey;
$fourty-color:#FF8929;
$text-search:rgba(0, 0, 0, 0.1);
$form-letter: gray;
$border-color: lightgrey;
$button-color: transparent;
$error: red;
$thumbs-up: yellow;


//FUENTES
$font-family: 'Roboto',sans-serif;
$font-family-main: 'Nunito',sans-serif;

//TAMAÑO FUENTES
$font-size-xxxxl: 42px;
$font-size-xxxl: 36px;
$font-size-xxl: 24px;
$font-size-xl: 20px;
$font-size-l: 16px;
$font-size: 14px;
$font-size-xs: 10px;
$font-size-xxs: 8px;

//BREAKPOINTS
$breakpoint-tablet-portrait: 850px;
$breakpoint-tablet-landscape: 1000px;
$breakpoint-desktop: 1200px;

//KEYFRAMES
@keyframes heartBeat {
    from {
        transform: scale(1);
    }
    to {
            transform: scale(1.1)
    }
}
