@import '~styles/settings';
@import '~styles/utils';

.article-detail {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    box-sizing: border-box;
}

.back{
    &:hover{
        color: $fourty-color;
    }
}

.like-button{
    font-size: $font-size-xxl;
    background-color: transparent;
    color: $error;
    border: none;
    outline-width: 0;
}

