<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>

    <div class="container">
        <form id="contact-form">
            <div class="contact-form-field">
                <label for="name">Name *</label>
                <input type="text" name="name" id="contact-form-name" class="contact-input" required>
            </div>
            <div class="contact-form-field">
                <label for="last-name">Last Name *</label>
                <input type="text" name="last_name" id="contact-form-last-name" class="contact-input" required>
            </div>
            <div class="contact-form-field">
                <label for="email">Email *</label>
                <input type="email" name="email" id="contact-form-email" class="contact-input" required>
            </div>
            <div class="contact-form-field">
                <label for="message">Message *</label>
                <textarea name="message" id="contact-form-message" class="contact-input" 
                placeholder="Write a message 500 characters maximum" required maxlength="500"></textarea>
            </div>
            <input type="submit" value="Submit" id="contact-form-submit" />
            <div id="notice"></div>
        </form>
    </div>
</body>
    <%- include('../partials/footer.ejs') %>
</html>
