<footer>
    <section class="footer-social-section flex-rw">
        <span class="footer-social-overlap footer-social-connect">CONNECT<span class="footer-social-small">with</span>US</span>
        <span class="footer-social-overlap footer-social-icons-wrapper">
            <a href="#" class="generic-anchor" title="Pinterest" itemprop="significantLink"><i class="fab fa-pinterest"></i></a>
            <a href="#" class="generic-anchor" title="Facebook" itemprop="significantLink"><i class="fab fa-facebook"></i></a>
            <a href="#" class="generic-anchor" title="Twitter" itemprop="significantLink"><i class="fab fa-twitter"></i></a>
            <a href="#" class="generic-anchor" title="Instagram" itemprop="significantLink"><i class="fab fa-instagram"></i></a>
            <a href="#" class="generic-anchor" title="Youtube" itemprop="significantLink"><i class="fab fa-youtube"></i></a>
            <a href="#" class="generic-anchor" title="Google Plus" itemprop="significantLink"><i class="fab fa-google-plus"></i></a>
        </span>
    </section>
</footer>