<header>
    <div class="title-container">
        <img src="/src/assets/letra.png" class="letra" alt="logo" title="LOGOTIPO ENTERUM" />
        <h1 id="title" class="title">ENTERUM</h1>
    </div>
    <div class="menu">
            <a href="#">Home</a>
            <a href="#">Culture</a>
            <a href="#">Tech</a>
            <a href="#">Self</a>
            <a href="#">Politics</a>
            <a href="#">Desing</a>
            <a href="#" id="hamburger-icon" class="hamburger-icon"><i class="fa fa-bars"></i></a>
    </div>
</header>