@import '~styles/settings.scss';
@import '~styles/layout.scss';


body {
    background-color: $secundary-color;
    font-family: $font-family-main;
    font-size: $font-size-l;
}

header {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    

    .title-container {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: $font-size-xxxxl;
        color: $secundary-color;
    
    .letra{
            padding-left: 100px;
        }
    }

    .menu {
        padding-right: 50px;
        display: flex;
        align-content: stretch;

    a {
        color: $secundary-color;
        padding: 10px 20px;
        line-height: 1;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
            

    &:hover {
        box-shadow: 0 0 0 1px $fourty-color;
    }
    
    &.active{
        color: $fourty-color;
    }
        
    display: none;
            
    &.hamburger-icon {
        color: $secundary-color;
        display: block;
        right: -30px;
        position: relative;
    }
    
    @include for-tablet-portrait{
        display: block;
        &.hamburger-icon{
            display: none;
        }
    }
}
}
        
    &.menu-open{
        flex-direction: column;

        .title-container{
            flex-direction: column;
            padding: 10px 135px 0 0;

            .title{
               display: none;
            }
        }

        .menu{
            flex-direction: column;
        }

        a{
            display: block;
            text-align: center;

            &.hamburger-icon{
                position: absolute; 
                top: 21px;
                right: 100px;
                display: block;
            }
        }
    }
}
