<header>
    <img src="/src/assets/letra.png" class="letra" alt="logo" title="LOGOTIPO ENTERUM" />
    <h1 id="title" class="title">ENTERUM</h1>
    <nav>
        <a href="#">Home</a>
        <a href="#">Culture</a>
        <a href="#">Tech</a>
        <a href="#">Self</a>
        <a href="#">Politics</a>
        <a href="#">Desing</a>
        <input class="nav-search" type="text" placeholder="Search..." /><i class="fas fa-search"></i>
        <a href="#">Login<i class="fas fa-sign-in-alt"></i></a>
    </nav>
</header>